<h1>Hello <%= session[:player_name].upcase    %>, welcome to Blackjack </h1>

<div class="hero-unit">

<% if session[:player_blackjack] == true   %>
<h2> Congratulations !! <%= session[:player_name] %> hits blackjack !!  </h2>

<% elsif session[:dealer_busted] == true   %>
<h2> Congratulations !! Dealer busted,  <%= session[:player_name] %> wins !!  </h2>

<% elsif session[:player_busted] == true %>
<h2> Sorry !!  <%= session[:player_name] %> is busted!!  </h2>

<% elsif session[:dealer_blackjack] == true %>
<h2> Sorry !!  Dealer hits blackjack!!  </h2>

<% end %>

<h3>Dealer cards:   </h3>

<%  if session[:dealer_turn] == true   %>
    <%session[:dealer_cards].each do  |card|   %>
    <img src="/images/cards/<%=  "#{card[0]}_#{card[1]}"   %>.jpg">
    <%end %>

    <p>with total of <%= total(session[:dealer_cards])  %> </p>
    <% if total(session[:dealer_cards]) < 17    %>
    <form action = '/game/dealer/hit' method = 'post'>
    <input type = 'submit' value = "press to see dealer's card" class = 'btn'>
    </form>

<% end %>


<% else     %>
    <img src="/images/cards/cover.jpg">
    <img src="/images/cards/<%=  "#{session[:dealer_cards][1][0]}_#{session[:dealer_cards][1][1]}"   %>.jpg">

<% end   %>

</div>


<div class="hero-unit">

    <h3>Player cards:   </h3>
    <%session[:player_cards].each do  |card|   %>
    <img src="/images/cards/<%=  "#{card[0]}_#{card[1]}"   %>.jpg">
    <%end %>

<p>with total of <%= total(session[:player_cards])  %> </p>
<%  if session[:player_turn] == true    %>
    <form action = '/game/player/hit' method = 'post'>
    <input type = 'submit' value = 'hit' class = 'btn btn-success'>
    </form>

    <form action = '/game/player/stay' method = 'post'>
    <input type = 'submit' value = 'stay' class = 'btn btn-warning'>
    </form>

<% end  %>
</div>
